.fill {
    margin-top: 50px;
    width: 80%;
    height: 550px;
    background-color: #3C3C3C;
}
.mt-50 {
    margin-top: 50px;
}
.list-group-item:hover {
    color: white;
    background-color: blue;
    
}
.success {
    color: white;
    background-color: blue;
}
.danger {
    color: black;
    background-color: white;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 0.98em;
    color: #01a1a1;
    box-sizing: border-box;
    padding-top: 5%;
    text-align: center;
}

.today{
    background-color: #f8b133;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.66rem;
    color: #30353d;
    margin-top: 20px;
}
.root {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    height: 80px;
    
}
.blue {
    text-align: end;
    background-color: #3DA1A1;
    height: 30px;
    display: block;
    margin-top: 20px;
    color: #fff;
}

.grey {
    text-align: end;
    display: block;
    height: 50px;
    background-color: #6F6F6F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #ffff;
}